/* =========================
   Color Palette
========================= */
:root {
    --primary-color: #003049;       /* Rich Navy Blue */
    --secondary-color: #669BBC;     /* Soft Sky Blue */
    --accent-color: #FDF0D5;        /* Creamy Beige */
    --highlight-color: #F77F00;     /* Warm Orange */
    --muted-color: #C9D6DF;         /* Light Slate */
    --text-dark: #1B1B1E;           /* Deep Charcoal */
    --text-light: #FFFFFF;          /* White */
    --background-light: #F5F5F5;    /* Light Gray */
}


/* Responsive adjustments */
/* Larger Views ******************************/
@media screen and (min-width: 700px) {
    * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }
    
    main, .gallery {
        margin-top: 1rem;
    }

    h1 {
        text-align: center;
        color: var(--text-light);
        white-space: nowrap;
        margin-left: 25px;
        font-size: 2rem;
    }    

    h2 {
    text-align: center;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    max-width: 93.75rem;
    }


    h3 {
    text-align: center;
    color: var(--text-dark);
    font-size: 1.2rem;
    font-weight: 600;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        width: 100%;
        background-color: var(--primary-color);
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
        display: flex;
        align-items: center;
    }

    nav a {
        flex: 1 1 100%;
        
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    #main-nav ul {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 10px;
    }

    .gallery h2 {
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        color:black;   
    }

}