/* =========================
   Color Palette
========================= */
:root {
    --primary-color: #003049;       /* Rich Navy Blue */
    --secondary-color: #669BBC;     /* Soft Sky Blue */
    --accent-color: #FDF0D5;        /* Creamy Beige */
    --highlight-color: #F77F00;     /* Warm Orange */
    --muted-color: #C9D6DF;         /* Light Slate */
    --text-dark: #1B1B1E;           /* Deep Charcoal */
    --text-light: #FFFFFF;          /* White */
    --background-light: #F5F5F5;    /* Light Gray */
}


/* Responsive adjustments */
/* Larger Views ******************************/
@media screen and (min-width: 700px) {
    main, .gallery {
        margin-top: 1rem;
    }

    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 1rem;
        float: left;
        color: var(--text-light);   
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    #main-nav ul {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        gap: 1rem;
        /* padding: 1rem; */
    }

    .gallery h2 {
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        color:black;   
    }

}